---
const { exampleComponent, lang = "tsx", title, ...rest } = Astro.props;

import { Code, Tabs, TabItem } from "@astrojs/starlight/components";

import CodePreviewClient from "./code-preview";

const raws = import.meta.glob("../examples/*.tsx", { query: "raw", eager: false });
const key = `../examples/${exampleComponent}.tsx`;

const loadRaw = raws[key];

if (!loadRaw) {
  throw new Error(`[component-preview] Cannot find example: ${key}`);
}

const rawLoader =  await loadRaw() as any

---

<div class="code-preview">
  <Tabs>
    <TabItem label="Code">
      <Code code={rawLoader.default} lang={lang} title={title || exampleComponent} wrap={true} />
    </TabItem>
    <TabItem label="Preview">
      <CodePreviewClient  client:only="react"
         {...rest}
         componentKey={key}
      />
    </TabItem>
  </Tabs>
</div>